@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #656466;
}
.top-info .icon-location,
.top-info .icon-phone,
.top-info .icon-email {
  color: rgb(15, 14, 14);
  height: 30px;
}

body {
  color: rgb(64, 64, 87);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(https://i.pinimg.com/564x/54/e5/97/54e597083d3aa069675fc8cc3f054cf0.jpg);
  width: auto;
}

header {
  height: 60px;
}
header h1 {
  font-size: 60px;
  background-color: grey;
  text-align: center;
  font-family: "tangerine", cursive;
}

.navbar {
  background: rgb(55, 53, 53);
  position: sticky;
}
.navbar a {
  text-decoration: none;
  color: #000;
  font-size: 30px;
  font-family: "tangerine", cursive;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container .card {
  width: 350px;
  margin: 20px;
  background: #fff;
  text-align: center;
  transition: all 400ms ease;
}
.container .card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.card .contenido {
  padding: 5px;
  text-align: center;
}
.card .contenido p {
  line-height: 1.5;
  color: gray;
}

.contenido a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  transition: all 400ms ease;
}
.contenido a:hover {
  background: black;
  color: white;
}

.carousel-inner {
  display: block;
  justify-content: space-evenly;
}
.carousel-inner .carousel-item {
  justify-content: center;
  text-align: center;
}
.carousel-inner .carousel-item .imagen-carousel {
  border: 1px solid rgb(38, 35, 35);
  border-radius: 4px;
}

h5 {
  color: rgb(7, 139, 42);
  font-size: 30px;
}

.slide {
  margin-top: 30px;
}

.slide img {
  max-width: 60%;
  height: 60vh;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: 450px;
  padding: 60px;
  grid-gap: 40px;
}
.gallery-container .gallery__item .gallery__img {
  width: 100%;
  height: 90%;
  border-radius: 35px;
}
.gallery-container .gallery__item .gallery__img:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-5%);
}

.formulario form {
  padding: 10px 20px;
  width: 400px;
  height: auto;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "tangerine";
  overflow: hidden;
}
.formulario form h2 {
  color: red;
  text-align: center;
  font-size: 50px;
}

footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  background: rgb(0, 0, 0);
  height: 15%;
  color: aliceblue;
}
footer .titulo-de-pie-de-pagina {
  text-align: center;
  color: #707576;
}

.redes-sociales {
  text-align: center;
}
.redes-sociales a {
  text-decoration: none;
  color: beige;
}
.redes-sociales a:hover {
  color: red;
}

/*# sourceMappingURL=style.css.map */
