body {
  color: rgb(64, 64, 87);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(https://i.pinimg.com/564x/54/e5/97/54e597083d3aa069675fc8cc3f054cf0.jpg);
  width: auto;
}
