.formulario form {
    padding: 10px 20px;
    width: 400px;
    height: auto;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "tangerine";
    overflow: hidden;

   h2 {
        color: red;
        text-align: center;
        font-size: 50px;
      }
  }
