.carousel-inner {
    display: block;
    justify-content: space-evenly;
    
    
    .carousel-item {
    justify-content: center;
    text-align: center;
    
    
    .imagen-carousel {      
    border: 1px solid rgb(38, 35, 35);
    border-radius: 4px;
  }
  }
  }

  h5{
    color:rgb(7, 139, 42) ;
    font-size: 30px;
  }
  .slide{
    margin-top: 30px;    
    
  }
  .slide img{
    width: 60%;
    height: 60vh;

  }
  